<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 400px;margin: auto">
    <h2>尊敬的用户 {}：</h2>请您在<span style="color: red;font-weight: bolder">确保为本人操作</span>的情况下，点击 <span
        style="color: red;font-weight: bolder">以下链接</span>
    进行<span style="color: red;font-weight: bolder">会员用户激活</span><br>
    凡是未激活的用户一律视为<span style="color: red;font-weight: bolder">非法用户</span>，不给予登陆权限:<br><br>
    <span style="color: green;font-weight: bolder;font-size: 20px">本邮箱激活链接为：</span><br>
    <a href="http://www.baidu.com">{}</a><br><br><span style="color: red;
            font-weight: bolder;font-size: 15px">过期时间：5分钟，请在正确时间内激活</span></div>
</body>
</html>